<h1>タスク詳細</h1>
<table class="table">
  <tbody>    
  <tr>
      <th>ID</th>
      <td><%= @task.id %></td>
    </tr>
    <tr>
      <th>タスク名</th>
      <td><%= @task.name %></td>
    </tr>
    <tr>
      <th>タスク詳細</th>
      <td><%= @task.description %></td>
    </tr>
    <tr>
      <th>終了期限</th>
      <td><%= @task.deadline %></td>
    </tr>
    <tr>
      <th>ステータス</th>
      <td><%= @task.status %></td>
    </tr>
    <tr>
      <th>優先度</th>
      <td><%= @task.priority %></td>
    </tr>
    <tr>
    <tr>
      <th>ラベル</th>
      <td>
      <% @task.labels.each do |label|%>
        <%= label.name %>
      <% end %>
      </td>
    </tr>
      <th>登録日時</th>
      <td><%= @task.created_at %></td>
    </tr>
    <tr>
      <th>更新日時</th>
      <td><%= @task.updated_at%></td>
    </tr>
  </tbody>
</table>
<%= link_to "タスク一覧へ",tasks_path, class:'btn btn-info'%>