<div class="jumbotron text-white">
  <h1>ユーザー詳細</h1>
</div>
<%= notice %>
<table class="table">
  <tbody>
    <tr>
      <th>名前</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th>作成日時</th>
      <td><%= @user.created_at %></td>
    </tr>
    <tr>
      <th>編集日時</th>
      <td><%= @user.updated_at %></td>
    </tr>
    <tr>
      <th>管理者登録</th>
      <td><%= @user.admin? ? 'あり': 'なし' %></td>
    </tr>
  </tbody>
</table>
<div class="jumbotron text-white">
  <h4><%= @user.name %>さんのタスク一覧 </h4>
</div>
  <div class="card-deck">
  <% @user.tasks.each do |task|%>
    <div class="card">
      <h4 class="card-header">タスク名:<%= task.name %></h4>
      <ul>
        <li>タスク詳細：<%= task.description%></li>
        <li>更新日時：<%= task.updated_at %></li>
        <li>ステータス：<%= task.status %></li>
        <li>優先度：<%= task.priority %></li>
      </ul>
      <div class="card-footer">
        <h6>作成日時：<%= task.created_at %></h6>
        <h6>終了期限：<%= task.deadline %></h6>
      </div>
    </div>
  <% end %>
</div>
<%= link_to "登録ユーザー一覧", admin_users_path, class:'btn btn-info ' %>